.App {
  text-align: center;
}

.App > .wizard-container {
  border: 1px solid black;
  max-width: 15rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
}

.App > .wizard-container > .page-container > .page-two-container {
  margin: 1rem 2rem;
}

.App > .wizard-container > .required-container {
  display: flex;
  margin: 1rem 2rem;
}

.App > .wizard-container > .required-container > span {
  color: red;
  font-size: 0.5rem;
}

.App > .wizard-container > .buttons-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.App > .wizard-container > .buttons-container > .next-container,
.prev-container {
  display: flex;
}

.next,
.prev {
  border: none;
  background-color: white;
  margin-left: auto;
  font-size: 1rem;
  padding: 0;
}

div[aria-label="rate-your-satisfaction"] {
  margin-left: auto;
  margin-right: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
